<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games Catalog</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://media.direct.playstation.com/is/image/sierialto/favicon?fmt=png-alpha"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/viewgames.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>

<%- include('partials/navbar', {path: "viewgames"}) %>


<div class="games-catalog" style="margin-top: 4em;">

    <div class="catalog-header">
        <h1>ARCADE GAMES CATALOG</h1>
    </div>

    <div class="catalog-para">
        <p>Delete the full catalog of all console and PC games <br>
            <span class="catalog-banner">CONSOLE . PC</span>            
        </p>
    </div>
    <%- include('partials/search', {path: 'deletegame'}) %>
</div>


<div class="above-card-text">
    <h1>Delete your !favorite games</h1>
    <h6>Delete old games from day one and a huge variety of games from every genre including iconic franchises, indie classics, and blockbusters.</h6>
</div>


    <% for(let i = 0;i < data.length; i+=3) {%>

    <div class="cards-container">
        <% if(i < data.length ){ %>

            <div class="card3d game-card">
                <img src="/images/<%= data[i].id %>.jpeg" alt="Plains" width="200"> 
                <a href="/delete/<%= data[i].id %>">
                  <button class="buy-button">Delete</button>
                </a>
                <h3 style="font-weight: 400;"><%= data[i]._name %></h3>
                <p>$ <%= data[i].price %></p>
            </div>
        <% } %>

        <% if(i + 1 < data.length ){ %>
            <div class="card3d game-card">
            <img src="/images/<%= data[i + 1].id %>.jpeg" alt="Plains" width="200"> 
            <a href="/delete/<%= data[i + 1].id %>">
              <button class="buy-button">Delete</button>
            </a>
            <h3 style="font-weight: 400;"><%= data[i+1]._name %></h3>
            <p>$ <%= data[i+1].price %></p>
            </div>
        <% } %>

        <% if(i + 2 < data.length ){ %>
            <div class="card3d game-card">
                <img src="/images/<%= data[i + 2].id %>.jpeg" alt="Plains" width="200">
                <a href="/delete/<%= data[i + 2].id %>">
                    <button class="buy-button">Delete</button>
                </a>
                <h3 style="font-weight: 400;"><%= data[i+2]._name %></h3>
                <p>$ <%= data[i+2].price %></p>
            </div>
        <% } %>

    <% } %>


      <% if(data == ""){ %>
        <div class="nothingFound">
          <h1>Dhonda Boht. Phir Na Mila</h1>
        </div>
      <% }%>

    <!-- ---------------- PAGINATION --------------- -->

    <% if(isSearch == 0){ %>
        <%- include('partials/pager',{path : 'deleteGame'} )%>
    <% }%>


<script>
    function map(val, minA, maxA, minB, maxB) {
        return minB + ((val - minA) * (maxB - minB)) / (maxA - minA);
    }

    function Card3D(card, ev) {
    let img = card.querySelector('img');
    let imgRect = card.getBoundingClientRect();
    let width = imgRect.width;
    let height = imgRect.height;
    let mouseX = ev.offsetX;
    let mouseY = ev.offsetY;
    let rotateY = map(mouseX, 0, 180, -35, 15);
    let rotateX = map(mouseY, 0, 350, 25, -25);
    let brightness = map(mouseY, 0, 250, 1.5, 0.5);
    
    img.style.transform = `rotateX(${rotateX}deg) rotateY(${rotateY}deg)`;
    img.style.filter = `brightness(${brightness})`;
    }

    var cards = document.querySelectorAll('.card3d');

    cards.forEach((card) => {
    card.addEventListener('mousemove', (ev) => {
        Card3D(card, ev);
    });
    
    card.addEventListener('mouseleave', (ev) => {
        let img = card.querySelector('img');
        
        img.style.transform = 'rotateX(0deg) rotateY(0deg)';
        img.style.filter = 'brightness(0.8)';
    });
    });
    </script>

</body>
</html>